.env
.gitignore
database.json
config.js
session/
sessions/
auth_info_baileys/
node_modules/
private.js
plugins/owner-purge.js
private.js
plugins/gp-ia.js
plugins/owner-listaia.js
plugins/owner-logs.js
